 #torch==1.12.1 torchvision==0.13.1
 --extra-index-url https://download.pytorch.org/whl/cu113
 torch==1.12.1+cu113
 torchvision==0.13.1+cu113
 torchmetrics<=0.11
 plyfile
 trimesh
 streamlit
 plotly
 pytorch-lightning==1.7.5
 scikit-image==0.19.3
 mediapy
 -f https://dl.fbaipublicfiles.com/pytorch3d/packaging/wheels/py38_cu113_pyt1121/download.html
 pytorch3d
